<!-- =================================================================== -->
<!-- Navbar -->
<!-- =================================================================== -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="#"><img src="img/logo.png" alt="logo"></a>
            <a class="navbar-brand-text center-block visible-xs" href="#">eyeguide</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#">С кем пойдем?</a></li>
                <li><a href="#">Куда пойдем?</a></li>   
                <li><a href="#">Задать вопрос</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a id="nav-sign-in" href="#">Вход / Регистрация</a></li>
            </ul>
        </div>
    </div>
</nav> 