<div class="gid_nav--menu container-fluid">
    <div class="row">
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/guideProfile">Профиль</a>
        </div>
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/guidePlaces">Мои места</a>
        </div>
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/guideOptions">Параметры</a>
        </div>
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/guideOrders">Мои заказы</a>
        </div>
    </div>
</div>