<div class="gid_nav--menu container-fluid">
    <div class="row">
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/gidProfile">Профиль</a>
        </div>
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/gidPlaces">Мои места</a>
        </div>
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/gidOptions">Параметры</a>
        </div>
        <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>
            <a href="/gidOrders">Мои заказы</a>
        </div>
    </div>
</div>