

<div id="footer" class="container-fluid">
    <div class="row">
        <!-- ======================================================= -->
        <!-- Footer -->
        <!-- ======================================================= -->

        <div class="content col-md-12 col-sm-12 col-xs-12">
            <div class="pull-left footer-contacts">
                <a href="#">Контакты</a>
            </div>

            <div class="pull-right footer-help">
                <a href="#">Помощь</a>
            </div>

            <div class="footer-social">
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="vk" href="#"><i class="fa fa-vk"></i></a>
                <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
            </div>

            <p class="pull-right footer-rights">
                &copy; EyeGuide 2017
            </p>
        </div>
    </div>
</div>



    <script src="js/main.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>