{% extends "templates/pageTemplate.html" %}

{% block commonStyles %}
<link rel="stylesheet" href="/css/FAQ.css">



 
 <script type="text/javascript">
   
     
 </script>
{% endblock %}




{% block content %}


    <div class="wrap">
        <div id="FAQ">
            <div class="container-fluid">
            <div  class="row">
            <div class=" col-md-12 col-sm-12">
<h1>FAQ</h1>
<p>weaewawe</p>
            </div>
            <div class=" col-md-12 col-sm-12">
                    <h1>FAQ</h1>
                    <p>weaewawe</p>
                               
                
                </div>
                <div class=" col-md-12 col-sm-12">
                        <h1>FAQ</h1>
                        <p>weaewawe</p>
                        
                    </div>
                    
                    <div class=" col-md-12 col-sm-12">
                        <h1>FAQ</h1>
                        <p>weaewawe</p>
                        
                    </div>
                    

                    </div>

            </div>
           
           <div id="RSV">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                      
                        <h3 class="title text-center">Возникли еще вопросы,то напишите здесь</h3>
                        <form class="tc-form-style1">
                            <div class="form-field">
                                <input type="text" placeholder="Ваше имя" required>
                            </div>								
                            <div class="form-field">
                                <input type="email" placeholder="Email" required>
                            </div>								
                            <div class="form-field">
                                <input type="text" placeholder="Тема вопроса">
                            </div>
                            <div class="form-field">
                                <textarea placeholder="Сообщение" rows="7"></textarea>
                            </div>
                            <div class="form-button">
                                <button type="submit" id='Send-button'> Отправить</button>
                            </div>




                    </div>
                </div>
            </div>
      
        </div>

    </div>
    </div>
    {% endblock %}   


  {% block commonJS %}
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="/js/FAQ.js"></script>
  <script src="/js/jquery-2.2.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
  {% endblock %}
</body>
</html>