{% extends "templates/pageTemplate.html" %} {% block commonStyles %}

<link rel="stylesheet" href="/css/brm_gid-navbar.css">
<link rel="stylesheet" href="/css/brm_gid-profile.css"> 
<link rel="stylesheet" href="/css/choices.min.css">
<script src="/js/choices.min.js"></script>
{% endblock %} {% block content %}
<div class="wrap">



  <!-- ====================== -->
  <!-- top-menu -->

  <div class="container-fluid gid_nav">
    <div class="row">
      <div class='col-xs-12 col-sm-12 col-md-offset-3 col-md-9 '>
        {% include "templates/top_menu.html" %}
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <!-- left-menu -->
      <aside class="col-md-3">
        <div class="row">

          <div class="col-md-12">
            <div class="profile_photo" style="background-image: url('{{ guide.img }}')">

              <div class="edit">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="col-md-12 profile_info">
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-6 col-md-offset-3">
                <h4>{{ guide.info.hours }}</h4>
                <span>часов экскурсий</span>
              </div>
              <div class="col-xs-4 col-sm-4  col-md-6 col-md-offset-3">
                <h4>{{ guide.info.tours }}</h4>
                <span>проведенных экскурсий</span>
              </div>
              <div class="col-xs-4 col-sm-4  col-md-6 col-md-offset-3">
                <h4>{{ guide.info.happy }}</h4>
                <span>счастливых туристов</span>
              </div>
            </div>

          </div>
        </div>

      </aside>

      <!-- main -->
      <main class="col-md-9">
        <ul>
          
          <select class="form-control form_lang" name="lang">
            <option value="RU" selected>ru</option>
            <option value="EN">en</option>
          </select>
          <div class="edit_small">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </div>

          <form action="">
          <li>
            <span>Фамилия имя</span>
            <h4 data-role='default'>{{ guide.surname }} {{ guide.name }}</h4>
            <input type="text" data-role='input' class="form-control none" name="surname" value="{{ guide.surname }}" 
            placeholder="Введите фамилию">
            <input type="text" data-role='input' class="form-control none" name="name" value=" {{ guide.name }}" 
            placeholder="Введите имя">
          </li>
          <li>
            <span>Специализации</span>
            <h4 data-role='default'>{{ guide.info.spec }}</h4>
            <label class="none" data-role='input'>
              <input 
                type="text" 
                class="multiple-choice form-control" 
                id="spec" 
                name="spec" 
                placeholder="Введите специализации" 
                value="{{ guide.info.spec }}" 
                required
              >
            </label>
          </li>
          <li>
            <span>Виды экскурсий</span>
            <h4 data-role='default'>{{ guide.info.types }}</h4>
            <label class="none" data-role='input'>
              <input 
                type="text" 
                class="multiple-choice form-control none" 
                id="spec" 
                name="spec" 
                placeholder="Введите виды экскурсий" 
                value="{{ guide.info.types }}" 
                required
              >
            </label>
          </li>
          <li>
            <span>Языки</span>
            <h4 data-role='default'>{{ guide.info.lang }}</h4>
            <label class="none" data-role='input'>
              <select 
                class="multiple-choice form-control none" 
                id="languages" 
                name="lang" 
                placeholder="Выберите языки, которые вы знаете"
                multiple required
              >
                  <option value="ru" 
                  {% for lang in guide.info.lang %}
                    {% if lang == 'ru' %}
                      selected
                    {% endif %}
                  {% endfor %} 
                   >
                   ru
                  </option>
                  <option value="en" 
                  {% for lang in guide.info.lang %}
                    {% if lang == 'en' %}
                      selected
                    {% endif %}
                  {% endfor %}
                  >
                  en
                  </option>
              </select>
            </label>
          </li>
          <li>
            <span>Телефон</span>
            <h4 data-role='default'>{{ guide.phone }} (виден только мне)</h4>
            <input type="text" class="form-control none" data-role='input' name="phone" value='{{ guide.phone }}' placeholder="Введите телефон">
          </li>
          <li>
            <span>E-mail</span>
            <h4 data-role='default'>{{ guide.email }}</h4>
            <input type="email" class="form-control none" data-role='input' name="email" value='{{ guide.email }}' placeholder="Введите email">
          </li>
          <button type="submit" class="none" data-role='input'>Сохранить</button>
          <button type="button" class="none" data-role='input'>Отменить</button>
          </form>
        </ul>`
      </main>

    </div>
  </div>
  <div class="edit big_edit">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </div>


</div>
<!-- wrap -->
{% endblock %} {% block commonJS %}
<script src="/js/jquery-2.2.3.min.js"></script>
<script src="/js/gid_profile.js"></script>
<script src="/js/bootstrap.min.js"></script> {% endblock %}