{% extends "templates/pageTemplate.html" %}

{% block commonStyles %}

<link rel="stylesheet" href="/css/brm_gid-navbar.css">
<link rel="stylesheet" href="/css/brm_gid-orders.css">

{% endblock %}

{% block content %}
<div class="wrap">

   <!-- ====================== -->
  <!-- top-menu -->
  <div class="container-fluid gid_nav">
    <div class="row">
        <div class='col-xs-12 col-sm-12 col-md-offset-3 col-md-9 '>
            {% include "templates/top_menu.html" %}
        </div>
    </div>
</div>

<!-- ================================ -->
<!-- main -->
<main>
  <div class="container-fluid">
    <div class="row">
      <!-- ========================================= -->
      <!-- New orders -->
      <!-- ========================================= -->
      <div class="col-sm-4 col-md-4 active_order">
        <h4>Активные заказы</h4>
        <div class="order new_order">
          <h3>Название места</h3>
          <ul>
            <li>Имя:
              <span class="order--name">name</span>
            </li>
            <li>Телефон:
              <span class="order--number">number</span>
            </li>
            <li>Дата:
              <span class="order--date">date</span>
            </li>
            <li>Время:
              <span class="order--time">time</span>
            </li>
            <li>Количество человек:
              <span class="order--people">54</span>
            </li>
          </ul>
          <button type="button" class="new_order--btnY">Принять</button>
          <button type="button" class="new_order--btnN">Отказ</button>
        </div>
      </div>
      <!-- ========================================= -->
      <!-- Recent orders -->
      <!-- ========================================= -->
      <div class="col-sm-4 col-md-4">
        <h4>Текущие</h4>
        <div class="list-wrapper">
        <!-- old order -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" date-parent='#accordion' href="#collapse1">
                  Название места
                </a>
              </h4>
            </div>
            <div id='collapse1' class="panel-collapse collapse">
              <div class="panel-body">
                <div class="order done_order">
                  <ul>
                    <li>Имя:
                      <span class="order--name">name</span>
                    </li>
                    <li>Телефон:
                      <span class="order--number">number</span>
                    </li>
                    <li>Дата:
                      <span class="order--date">date</span>
                    </li>
                    <li>Время:
                      <span class="order--time">time</span>
                    </li>
                    <li>Количество человек:
                      <span class="order--people">54</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- old order END -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" date-parent='#accordion' href="#collapse4">
                  Название места 2
                </a>
              </h4>
            </div>
            <div id='collapse4' class="panel-collapse collapse">
              <div class="panel-body">
                <div class="order done_order">
                  <ul>
                    <li>Имя:
                      <span class="order--name">name</span>
                    </li>
                    <li>Телефон:
                      <span class="order--number">number</span>
                    </li>
                    <li>Дата:
                      <span class="order--date">date</span>
                    </li>
                    <li>Время:
                      <span class="order--time">time</span>
                    </li>
                    <li>Количество человек:
                      <span class="order--people">54</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end order -->
        </div>
      </div>
      <!-- ========================================= -->
      <!-- Done orders -->
      <!-- ========================================= -->
      <div class="col-sm-4 col-md-4">
        <h4>Законченные</h4>
        <div class="list-wrapper">
        <!-- old order -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" date-parent='#accordion' href="#collapse5">
                  Название места
                </a>
              </h4>
            </div>
            <div id='collapse5' class="panel-collapse collapse">
              <div class="panel-body">
                <div class="order done_order">
                  <ul>
                    <li>Имя:
                      <span class="order--name">name</span>
                    </li>
                    <li>Телефон:
                      <span class="order--number">number</span>
                    </li>
                    <li>Дата:
                      <span class="order--date">date</span>
                    </li>
                    <li>Время:
                      <span class="order--time">time</span>
                    </li>
                    <li>Количество человек:
                      <span class="order--people">54</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- old order END -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" date-parent='#accordion' href="#collapse2">
                  Название места 2
                </a>
              </h4>
            </div>
            <div id='collapse2' class="panel-collapse collapse">
              <div class="panel-body">
                <div class="order done_order">
                  <ul>
                    <li>Имя:
                      <span class="order--name">name</span>
                    </li>
                    <li>Телефон:
                      <span class="order--number">number</span>
                    </li>
                    <li>Дата:
                      <span class="order--date">date</span>
                    </li>
                    <li>Время:
                      <span class="order--time">time</span>
                    </li>
                    <li>Количество человек:
                      <span class="order--people">54</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end order -->
 
        </div>
        <!-- end wrapper  -->
      </div>
    </div>
  </div>
</main>


</div> <!-- wrap -->
 

  {% endblock %}

  {% block commonJS %}

  <script src="/js/jquery-2.2.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
  {% endblock %}
