{% extends "templates/pageTemplate.html" %}

{% block commonStyles %}

<link rel="stylesheet" href="/css/brm_gid-navbar.css">
<link rel="stylesheet" href="/css/brm_gid-places.css">
<script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>

{% endblock %}

{% block content %}
<div class="wrap">



<!-- ====================== -->
<!-- top-menu -->
  <div class="container-fluid gid_nav">
    <div class="row">
      <div class='col-xs-12 col-sm-12 col-md-9 col-md-push-3 '>
          {% include "templates/top_menu.html" %}
      </div>
      <div class="col-md-3 col-md-pull-9 map_menu">
        <div class="wrapper">
          <div class="map_menu--add">Добавить</div>
          <div class="map_menu--edit">Изменить</div>
        </div>
      </div>
    </div>
  </div>

  <!-- ================================ -->
  <!-- main -->
  <div class="container-fluid main-content">
    <div class="row">
      <aside class="col-sm-12 col-md-3 col-lg-3 col-md-push-9">
        <h4>Список мест:</h4>
        <!-- <div id="places" class="row"> -->
          <ul id="places">
          {% for place in places %}
            <li class="row">
              <input id='place_{{ place._id}}' type="checkbox" >
              <label for='place_{{ place._id}}'>{{ place.name }}</label>
              <article>
                  <a href="/place/{{ place._id }}" class="element col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="background-image: url('{{ place.img }}')" class="element-img col-md-12"></div>
                    <div class="element-info col-md-12">
                        <h3 class="element-name">{{ place.name }}</h3>
                        <p class="element-stats">
                            {{ place.description | truncate(110) }}
                        </p>
                    </div>
                </a>
              </article>
          </li>
          {% endfor %}
        </ul>
        <!-- </div> -->

      </aside>
      <main class="col-sm-12 col-md-9 col-lg-9 col-md-pull-3">
        <div id="YMapsID"></div>
      </main>
    </div>
  </div>

  
</div> <!-- wrap -->
 {% endblock %}
 
 {% block commonJS %}
 <script src="/js/jquery-2.2.3.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
 <script src="/js/gid_places.js"></script>
 
 {% endblock %}
</body>
</html>
