<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/gid-options.css">
  <link href="fonts/font-awesome.min.css" rel="stylesheet">
  <title>gidProfile</title>
</head>
<body>
  <!-- =================================================================== -->
  <!-- Navbar -->
  <!-- =================================================================== -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand hidden-xs" href="#"><img src="img/logo.png" alt="logo"></a>
              <a class="navbar-brand-text center-block visible-xs" href="#">eyeguide</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-navbar">
              <ul class="nav navbar-nav">
                  <li><a href="#">С кем пойдем?</a></li>
                  <li><a href="#">Куда пойдем?</a></li>
                  <li><a href="#">Задать вопрос</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a id="nav-sign-in" href="#">Вход / Регистрация</a></li>
              </ul>
          </div>
      </div>
  </nav>

<!-- ====================== -->
<!-- top-menu -->
<div class="container-fluid gid_nav">
    <div class="row">
      <div class='col-xs-12 col-sm-12 col-md-12 '>
        <div class="gid_nav--menu container-fluid">
          <div class="row">
            <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>Профиль</div>
            <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>Мои места</div>
            <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>Параметры</div>
            <div class='col-xs-3 col-sm-3 col-md-3 menu-block'>Мои заказы</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ================================ -->
  <!-- main -->
  <main>
    <div class="container">
        <span>Смена пароля</span>
        <form action="#">
          <div class="form-group">
            <label for="old_pwd">Старый пароль:</label>
            <input type="password" class="form-control" id="email" placeholder="Старый пароль" name="old_pwd">
          </div>
          <div class="form-group">
            <label for="new_pwd">Новый пароль:</label>
            <input type="password" class="form-control" id="new_pwd" placeholder="Новый пароль" name="new_pwd">
          </div>
          <div class="form-group">
            <label for="new_pwd2">Повторить пароль:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Повторить пароль" name="new_pwd2">
          </div>
          <button type="submit" class="btn btn-default submit_btn">OK</button>
          <button type="button" class="btn btn-default delete_acc_btn">
              <i class="fa fa-times" aria-hidden="true"></i>
              Удалить аккаунт
          </button>
        </form>
      </div>
  </main>



  <script src="js/jquery-2.2.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
