{% extends "templates/pageTemplate.html" %} {% block commonStyles %}

<link rel="stylesheet" href="/css/brm_gid-navbar.css">
<link rel="stylesheet" href="/css/brm_gid-orders.css"> {% endblock %} {% block content %}
<div class="wrap">

  <!-- ====================== -->
  <!-- top-menu -->
  <div class="container-fluid gid_nav">
    <div class="row">
      <div class='col-xs-12 col-sm-12 col-md-offset-3 col-md-9 '>
        {% include "templates/top_menu.html" %}
      </div>
    </div>
  </div>

  <!-- ================================ -->
  <!-- main -->
  <main>
    <div class="container-fluid">
      <div class="row">
        <!-- ========================================= -->
        <!-- New orders -->
        <!-- ========================================= -->
        <ul class="col-sm-4 col-md-4 active_order">
          <h4>Активные заказы</h4>
          {% for order in ordersNew %}
          <li>
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" date-parent='#accordion' href="#{{ order._id }}">
                      {{ order.place.name }}
                    </a>
                  </h4>
                </div>
                <form id='{{ order._id }}' class="panel-collapse collapse new_order">
                  <div class="panel-body">
                    <div class="order">
                      <ul>
                        <li>Имя:
                          <span class="order--name">{{ order.tourist.name }}</span>
                        </li>
                        <li>Фамилия:
                          <span class="order__name">Фамилия скрыта</span>
                        </li>
                        <li>Телефон:
                          <span class="order--number">Чтобы увидеть номер телефона, возьмите заказ</span>
                        </li>
                        <li>Дата:
                          <span class="order--date">{{ order.date }}</span>
                        </li>
                        <li>Время:
                          <span class="order--time">{{ order.time }}</span>
                        </li>
                        <li>Количество человек:
                          <span class="order--people">{{ order.people }}</span>
                        </li>
                      </ul>
                      <button type="submit" class="new_order--btnY">Принять</button>
                      <button type="button" class="delete">Отказ</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </li>
          {% endfor %}
        </ul>
        <!-- ========================================= -->
        <!-- Current orders -->
        <!-- ========================================= -->
        <div class="col-sm-4 col-md-4">
          <h4>Текущие</h4>
          <ul>
            {% for order in ordersNow %}
            <li>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default" {% if order.status === 5 %} style='border-color:brown' {% endif%}>
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" date-parent='#accordion' href="#{{ order._id }}">
                        {{ order.place.name }}
                      </a>
                    </h4>
                  </div>
                  <form id='{{ order._id }}' class="panel-collapse collapse current_order">
                    <div class="panel-body">
                      <div class="order-now">
                        <ul>
                          <li>Имя:
                            <span class="order__name">{{ order.tourist.name }}</span>
                          </li>
                          <li>Фамилия:
                            <span class="order__name">{{ order.tourist.surname }}</span>
                          </li>
                          <li>Телефон:
                            <span class="order__number">{{ order.tourist.phone }}</span>
                          </li>
                          <li>Дата:
                            <span class="order__date">{{ order.date }}</span>
                          </li>
                          <li>Время:
                            <span class="order__time">{{ order.time }}</span>
                          </li>
                          <li>Количество человек:
                            <span class="order__people">{{ order.people }}</span>
                          </li>
                        </ul>
                        {% if order.status === 1 %}
                        <div class="row">
                          <button type="submit" class="btn form-control">Завершить</button>
                        </div>
                        {% else %}
                        <div class="row">
                          <button type="button" class="btn form-control delete">Удалить</button>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- ========================================= -->
        <!-- Done orders -->
        <!-- ========================================= -->
        <div class="col-sm-4 col-md-4">
          <h4>Завершенные</h4>
          <ul>
            {% for order in ordersDone %}
            <li>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" date-parent='#accordion' href="#{{ order._id }}">
                        {{ order.place.name }}
                      </a>
                    </h4>
                  </div>
                  <div id='{{ order._id }}' class="panel-collapse collapse">
                    <div class="order">
                      <ul>
                        <li>Имя:
                          <span class="order--name">{{ order.tourist.name }}</span>
                        </li>
                        <li>Фамилия:
                          <span class="order__name">{{ order.tourist.surname }}</span>
                        </li>
                        <li>Телефон:
                          <span class="order--number">{{ order.tourist.phone }}</span>
                        </li>
                        <li>Дата:
                          <span class="order--date">{{ order.date }}</span>
                        </li>
                        <li>Время:
                          <span class="order--time">{{ order.time }}</span>
                        </li>
                        <li>Количество человек:
                          <span class="order--people">{{ order.people }}</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          <!-- end wrapper  -->
        </div>
      </div>
    </div>
  </main>


</div>
<!-- wrap -->


{% endblock %} {% block commonJS %}

<script src="/js/jquery-2.2.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/gid_orders.js"></script> {% endblock %}