{% extends "templates/pageTemplate.html" %}

{% block commonStyles %}
<link rel="stylesheet" href="/css/choices.min.css">
<script src="/js/choices.min.js"></script>

<link rel="stylesheet" href="/css/sign-up.css">
{% endblock %}

{% block content %}
<div class="wrap">
    <div class="container">
        <div class="row">
            <h1 class="text-center">Регистрация</h1>
            <form class="form-center" action="/registration" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" name="guide[name]" required>
                </div>
                <div class="form-group">
                    <label for="surname">Фамилия</label>
                    <input type="text" class="form-control" id="surname" name="guide[surname]" required>
                </div>
                <div class="form-group">
                    <label for="age">Возраст</label>
                    <input type="number" class="form-control" id="age" name="guide[age]" required>
                </div>
                <div class="form-group">
                    <label for="email">Электронная почта</label>
                    <input type="email" class="form-control" id="email" name="guide[email]" required>
                </div>
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input type="text" class="form-control" id="phone" name="guide[phone]" required>
                </div>
                <div class="form-group">
                    <label>Фотография</label>
                    <input type="file" class="form-control" id="img" name="img">
                </div>

                <div class="form-group">
                    <label for="places">Места</label>
                    <select name="places[]" multiple id="places">
                        {% for place in places %}
                        <option value="{{ place._id }}">{{ place.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!--<div class="form-group">
                    <label for="spec">Специализации</label>
                    <input type="text" class="form-control" id="spec">
                </div>
                <div class="form-group">
                    <label for="types">Виды экскурсий</label>
                    <input type="text" class="form-control" id="types">
                </div>
                <div class="form-group">
                    <label for="language">Языки</label>
                    <input type="text" class="form-control" id="language">
                </div>-->
                
                <button type="submit" class="btn btn-block btn-primary">Зарегистрироваться</button>
            </form>       
        </div>
    </div>
</div>
{% endblock %}

{% block commonJS %}
<script>
    var multipleCancelButton = new Choices('#places', {
        removeItemButton: true,
    });
</script>
{% endblock %}
