{% extends "templates/pageTemplate.html" %} {% block commonStyles %}
<link rel="stylesheet" type="text/css" href="/css/dc_spacing.css">
<link rel="stylesheet" type="text/css" href="/css/dc_style.css">
<link rel="stylesheet" type="text/css" href="/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="/slick/slick-theme.css" />
<!--link rel="stylesheet" href="/css/brm_search.css"-->
<link rel="stylesheet" type="text/css" href="/css/commonBalloon.css">
<link href="/css/place.css" rel="stylesheet">
<link rel="stylesheet" href="/css/cards.css">
{% endblock %} {% block content %}
<div class="wrap">
    <div class="container guideCard mt-3 mb-3">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="text-center mb-3">{{ guide.name +' '+ guide.surname }}</h3>
                    </div>
                    <div class="col-xs-12">
                        <div style="background-image: url('{{ guide.img }}')" class="head-img col-md-12" id="avatar" value="{{guide._id}}"></div>
                        {% if session %}
                        <h5>(видит только админ)</h5>
                        <h4 style="color:maroon">Телефон: {{guide.phone}}<h4>
                        <h4 style="color:maroon"> E-mail: {{guide.email}}</h4>
                        <h4>Видимость: {{guide.visible}}</h4>
                        <p>(0 - не подтверждена почта, 1 - на модерации, 2 - одобрен, 3 - откланен, 4 - бан)</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
            <table class="infoTable" align="center">

                <tr>
                    <td width="50%">
                        <h4>Специализации</h4>
                        <h5>{{guide.info.spec}}</h5>
                    </td>
                    <td width="50%">
                        <h4>Языки</h4>
                        <h5>{{guide.info.lang}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Виды экскурсий</h4>
                        <h5>{{guide.info.types}}</h5>
                    </td>
                    <td>
                        <h4>Часов экскурсий</h4>
                        <h5>{{guide.info.hours}}</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Проведенных экскурсий</h4>
                        <h5>{{guide.info.tours}}</h5>
                    </td>
                    <td>
                        <h4>Счастливых туристов</h4>
                        <h5>{{guide.info.happy}}</h5>
                    </td>
                </tr>
            </table>
            </div>
            <div class="col-xs-12">
                <h3 class="text-center mb-3">Информация о гиде</h3>
                <div id="opisanie" class="text-grad">
                    <h4>{{guide.description[0].value | striptags(true) | escape | nl2br}}</h4>
                </div>
                <p id="switcher" align="center" class="_openLink" onclick="_open()">Развернуть ▼</p>
            </div>
        </div>
    </div>
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-xs-12">
                <div class="responsive">
                        
                                {% for ex in eXs %}
                                <div id="places" class="row">
                                <div id="item{{ex._id}}" class="element _sizePlace col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <a href="/place/{{ ex.place._id }}"><div style="background-image: url('{{ ex.place.img }}')" class="element-img col-md-12"></div></a>
                                    <div class="element-info col-md-12">
                                        <h3 class="element-name">{{ ex.place.name }}</h3>
                                        <p id="_{{ex._id}}" class="text_about">
                                            {% if (ex.text!=undifined) and (ex.text!="") %}
                                            {{ ex.text | striptags(true) | escape | nl2br}}
                                            {% else %}
                                            {{ex.place.description}}
                                            {% endif %}
                                        </p>
                                        <i><p id="{{ex._id}}" class="_itemOpenLink" onclick="itemOpen(this.id)">подробнее...</p></i>
                                        <h4>Цены:</h4>
                                        <p>
                                            {% if ex.prices[0].price == ex.prices[ex.prices.length-1].price%}
                                            {{ex.prices[0].price}} руб. за человека
                                            {% endif %}
                                            {% if ex.prices[0].price > ex.prices[ex.prices.length-1].price%}
                                            {{ ex.prices[ex.prices.length-1].price}} - {{ ex.prices[0].price}} руб. за человека
                                            {% endif %}
                                            {% if ex.prices[0].price < ex.prices[ex.prices.length-1].price%}
                                            {{ ex.prices[0].price}} - {{ ex.prices[ex.prices.length-1].price}} руб. за человека
                                            {% endif %}
                                        </p>
                                        <form action="/new_order" method="POST" id="zakaz">
                                            <input type="hidden" value="text" name="_p">
                                            <input type="hidden" value="{{ex.guide._id}}" name="guideId">
                                            <input type="hidden" value="{{ex.place._id}}" name="placeId">
                                            <button class="btn btn-block btn-success">Заказать!</button>
                                            <a href="/place/{{ex.place._id}}" class="btn btn-block btn-default">Что за место?</a>
                                        </form>
                                    </div>
                                </div>
                                </div>
                                {% endfor %}
                        
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 mb-5">
                    <div class="_map" id="YMapsID"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block commonJS %}
<script>
    let view = true;
    function _open(){
        if (view){
            view = false;
            $('#opisanie').removeClass('text-grad');
            $('#switcher').text('Cвернуть ▲');
        } else {
            view = true;
            $('#opisanie').addClass('text-grad');
            $('#switcher').text('Развернуть ▼');
        }
            
    }

    let item = true;
    function itemOpen(id){
        if (item) {
            item = false;
            $(`#_${id}`).removeClass('text_about');
            $(`#item${id}`).removeClass('_sizePlace');
            $(`#item${id}`).addClass('_openItem');
            $(`#_${id}`).addClass('text_ab_open');
            $(`#${id}`).text('свернуть...');
        } else {
            item = true;
            $(`#_${id}`).addClass('text_about');
            $(`#_${id}`).removeClass('text_ab_open');
            $(`#${id}`).text('подробнее...');
        }
    }
</script>
<script src="//api-maps.yandex.ru/2.0/?load=package.standard,package.clusters&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript" src="/js/guideCardMap.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script type="text/javascript" src="/js/slider.js"></script>
<script type="text/javascript" src="/js/guideCard.js"></script> {% endblock %}
