{% extends "templates/pageTemplate.html" %}
{% block commonStyles %}
<script src="https://api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
<link href="../css/dc_style.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
<script type="text/javascript">
    // Создает обработчик события window.onLoad
    YMaps.jQuery(function () {
        // Создает экземпляр карты и привязывает его к созданному контейнеру
        var map = new YMaps.Map(YMaps.jQuery("#YMapsID")[0]);
        
        // Устанавливает начальные параметры отображения карты: центр карты и коэффициент масштабирования
        map.setCenter(new YMaps.GeoPoint(37.64, 55.76), 10);
    })
</script>
{% endblock %}
{% block content %}
    <div class="container cards wrap">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                    <h2 class="text-center">{{ guides.name }}</h2>
                    </div>
                    <div class="col-xs-12">
                        <img src="{{ guides.img }}" class="img-circle center-block" height="250" width="250">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="row text-center">
                    <div class="col-xs-12 col-lg-4">
                        <h3>Специализации</h3>
                        <p>{{guides.info.spec}}</p>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <h3>Языки</h3>
                        <p>{{guides.info.languages}}</p>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <h3>Виды экскурсий</h3>
                        <p>{{guides.info.types}}</p>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <h3>Часов экскурсий</h3>
                        <p>{{guides.info.hours}}</p>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <h3>Проведенных экскурсий</h3>
                        <p>{{guides.info.made}}</p>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <h3>Счастливых туристов</h3>
                        <p>{{guides.info.happy}}</p>
                    </div>    
                </div>
            </div>
            <div class="col-xs-12">
                <h2 class="text-center">Информация о гиде</h2>
                <p>{{guides.desc}}</p>
            </div>
            <div class="col-xs-12">
                <h2 class="text-center">Места</h2>
                <div class="responsive">
                    <div><img src="{{places.img}}"></div>
                    <div><img src="{{places.img}}"></div>
                    <div><img src="{{places.img}}"></div>
                    <div><img src="{{places.img}}"></div>
                    <div><img src="{{places.img}}"></div>
                </div>
            </div>
            </div>
            </div>
{% endblock %}
{% block commonJS %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script type="text/javascript" src="../js/slicker-carousel.js"></script>
{% endblock %}