{% extends "templates/adminPage.html" %}

{% block commonStyles %}
<link rel="stylesheet" href="/css/registration-form.css">
{% endblock %}

{% block content %}
<div class="container-fluid wrap">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Обновление профиля гида</h1>
            <div class="new-guides">
                <ul>
                    {% for guide in guides %}
                    <li class="col-lg-3 col-md-4 col-sm-6 guide">
                        <a href="/profile/{{ guide._id }}" class="guide-name">
                            <h4>{{ guide.name }} {{ guide.surname }}</h4>
                        </a>
                        <div class="control-btns">
                            <textarea >{{guide.description[0].onModerate}}</textarea>
                            <br>
                            <a href="/onModerate/agree/{{ guide._id }}" class="btn btn-success">Подтвердить</a>
                            <a href="/onModerate/desagree/{{ guide._id }}" class="btn btn-warning">Отклонить</a>
                        </div>
                        <hr>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}