{% extends "templates/pageTemplate.html" %}

{% block commonStyles %}

<!--link rel="stylesheet" href="/css/slick.css"-->
<link href="/css/place.css" rel="stylesheet">
<link rel="stylesheet" href="/css/cards.css">

{% endblock %}

{% block content %}
<div class="wrap">
        <div id="place">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="place-name text-center">{{ place.name }}</h1>
                        <div class="col-md-6 col-sm-6">
                            <div style="background-image: url('{{ place.img }}')" class="head-img col-md-12" id="Imgplace" ></div>
                            <!--img src="{{place.img}}" class="element-img element col-md-12 img-thumbnail center-block" id="Imgplace"-->
                        </div>  
                        <div class="col-md-6 col-sm-6">
                            <h3>Описание:</h3>  
                            <h4>{{ place.description | striptags(true) | escape | nl2br}}</h4>
                            <br><a href="/search/places?place={{place._id}}" style="font-size:12pt;">Найти на карте...</a>
                        </div>   
                    </div>
                  <div class="col-xs-12 mt-3">
                    <!--form action="/new_order" method="POST"id="zakaz">
                        <input type="hidden" value="{{ place._id }}" name="placeId">
                        <button type="submit" class="btn btn-order btn-default" ><h4>Заказать!</h4></button>
                    </form-->
            </div>
                    
                </div>
            </div>
        </div>

        <div class="container">
        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="guides" class="row">
                        {% for ex in eXs %}
                        <div id="dop{{ex._id}}" class="element _size col-lg-3 col-md-6 col-sm-12 col-xs-12">
                            <a href="/profile/{{ ex.guide._id }}"><div style="background-image: url('{{ ex.guide.img }}')" class="element-img col-md-12"></div></a>
                            <div class="element-info col-md-12">
                                <h3 class="element-name">{{ guide.name }}</h3>
                                <h4>Описание:</h4>
                                <p id="_{{ex._id}}" class="text_about">
                                    {{ ex.text | striptags(true) | escape | nl2br}}
                                </p>
                                <i><a id="{{ex._id}}" href="#dop{{ex._id}}" onclick="_open(this.id)">подробнее...</a></i>
                                <h4>Цены:</h4>
                                <p>
                                    {% if ex.prices[0].price == ex.prices[ex.prices.length-1].price%}
                                    {{ex.prices[0].price}} руб. за человека
                                    {% endif %}
                                    {% if ex.prices[0].price > ex.prices[ex.prices.length-1].price%}
                                    {{ ex.prices[ex.prices.length-1].price}} - {{ ex.prices[0].price}} руб. за человека
                                    {% endif %}
                                    {% if ex.prices[0].price < ex.prices[ex.prices.length-1].price%}
                                    {{ ex.prices[0].price}} - {{ ex.prices[ex.prices.length-1].price}} руб. за человека
                                    {% endif %}
                                </p>
                                <form action="/new_order" method="POST" id="zakaz">
                                    <input type="hidden" value="text" name="_p">
                                    <input type="hidden" value="{{ex.guide._id}}" name="guideId">
                                    <input type="hidden" value="{{place._id}}" name="placeId">
                                    <button class="btn btn-block btn-success">Заказать!</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                      </div>
        </div>
        </div>
        </div>
        <!--div class="container-fluid green-bg text-white slider">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="text-center">Гиды</h3>
                    <div class="responsive">
                        {% for item in place.guides %}
                        <div class=""><a href="/profile/{{ item.id }}"><img class = "imgSlide" src="{{item.img}}" title="{{item.name}}"></a></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container-fluid ">
        <h3 class="text-center">Расположение на карте</h3>
            <div class="row">
                <div class="col-xs-12 mb-5">
                    <div id="YMapsID"></div>
                </div>
                
            </div-->
</div>
    </div> 
  {% endblock %}

  {% block commonJS %}
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="/js/jquery-2.2.3.min.js"></script>
  <!-- <script src="/js/place.js"></script> -->
  <script>
        let obj = {};
        function _open(id){
            if (!obj[id])
            {
                $(`#_${id}`).removeClass('text_about');
                $(`#_${id}`).addClass('_openText');
                $(`#dop${id}`).addClass('_openText');

                obj[id] = true;
                $(`#${id}`).text('свернуть...');
            } else {
                $(`#_${id}`).addClass('text_about');
                $(`#_${id}`).removeClass('_openText');
                $(`#dop${id}`).removeClass('_openText');

                obj[id] = false;
                $(`#${id}`).text('подробнее...');
            }
        }
    </script>
  <script src="/js/bootstrap.min.js"></script>

  {% endblock %}
</body>
</html>
