.map_menu {
  padding-right: 0px;
}
.wrapper {
  position: relative;
  width: 100%;
  margin-top: .5rem; 
}
.wrapper option {
  position: relative;
  z-index: 1001;
}

.choices .choices__list--dropdown {
  z-index: 10;
}
.choices {
  margin-bottom: 0 !important;
}
.main-content {
  margin-top: 1rem;
}

#YMapsID {
  width:100%;
  height:70vh;
}
.balloon {
  width: 250px;
  height: auto;
  text-align: center;
  font-size: 1.2rem;
}
.balloon img {
  width: 70%;
  height: auto;
}
/* ========================================================================== */
/* Place/guides */
/* ========================================================================== */

.element {
  overflow: hidden;

  height: 370px;
  padding: 15px;

  transition: all .2s ease;
}

.element:hover,
.element:focus{
  background-color: #2ecc71;
  color: #fff;
}
.element:hover .element-img,
.element:focus .element-img {
  box-shadow: none;
}

.element-img {
  height: 200px;
  margin-bottom: 10px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  box-shadow: 0px 0px 10px 2px #ccc;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.element-name {
  margin: 0;
}

.panel-title {
  text-align: center;
}
.panel-heading {
  background-color: #2ecc71 !important;
  color: white !important;
}
.panel-heading a:focus, .panel-heading a:hover {
  color: #73867b;
  text-decoration: none;
}

aside {
  height: 70vh;
  overflow: hidden;
}
 #places {
  list-style: none;
  padding-left: 0;
  margin: 2rem 0 0 0;
  height: calc(100% - 5rem);
  overflow: auto;
 
}

.remove_place {
  text-align: center;
}
.remove_place button {
  border: 1px #2ecc71 solid;
  color: #2ecc71;
  background-color: white;
}
.remove_place button:hover {
  color: white;
  background-color: rgb(153, 45, 45);
}

/* ========================================================================== */
/* Modal window  */
/* ========================================================================== */
/* .modal {
  display: block;
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 150;
  background-color: red;
} */

/* ========================================================================== */
/* Media queries */
/* ========================================================================== */

@media (max-width: 991px) {
  .wrapper {
    margin-left: -1rem;
    margin-top: 7rem;
  }
}
