.balloon {
    max-width: 300px;
    height: auto;
    text-align: center;
    font-size: 1.4rem;
    background-color: #eaffea;
    padding: 5%;
}

.cluster-balloon-item{
    min-width: 500px;
}

.balloonImg {
    align:center;
    max-width: 100%;
    width: auto;
    height: auto;
}

.balloonBtn {
    width: 70%;
}