.text-center{
    text-align: center;
}

.guideCard{
    background: #0caa50;
    border: 1px rgb(175, 175, 175) solid;
    box-shadow: 0px 0px 4px rgb(175, 175, 175);
    border-radius: 3rem; 
    color:white;   
}

.guideInfo{
    border: 1px rgb(225, 225, 225) solid;
    border-radius: 1rem;
    margin: 1rem 0 1rem 0;
}

.text-white{
    color: white;
}

#YMapsID{
    margin:auto;
    height:300px;
    width:100%;
}

.btn{
    height: 5rem;
}

@media (min-width: 768px) {
    #YMapsID{
        height: 450px;
    }

    .imgSlide{
        width: 100%;
        height: 100%;
        max-height: 200px;
    }
}