body{
    box-sizing: border-box;
}

.text-center{
    text-align: center;
}

.guideCard{
    background: #0caa50;
    border: 1px rgb(175, 175, 175) solid;
    box-shadow: 0px 0px 4px rgb(175, 175, 175);
    border-radius: 3rem; 
    color:white;   
}

.guideInfo{
    border: 1px rgb(225, 225, 225) solid;
    border-radius: 1rem;
}

.text-white{
    color: white;
}

<<<<<<< HEAD
.text-black{
    color:black;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-3{
    margin-bottom: 3rem;
}
.mb-5{
    margin-bottom: 5rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-5{
    margin-top: 5rem;
}

#YMapsID{
    margin:auto;
    height:300px;
    width:100%;
=======
#YMapsID{
    margin:auto;
    height:300px;
    width:100%;
}
form{
    margin: 0 auto;
}

.btn{
    height: 5rem;
    width: 30%;
    display: block;
    margin: 0 auto;
}

@media(max-width: 768px){
    .btn{
        width:70%;
    }
>>>>>>> origin/CULER6
}

@media (min-width: 768px) {
    #YMapsID{
        height: 450px;
    }
<<<<<<< HEAD
}

.btn{
    height: 5rem;
}

.placeCard{
    box-shadow: 1px 1px 5px black;
}
=======

    .imgSlide{
        width: 50%;
        height: 100%;
    }
}

>>>>>>> origin/CULER6
