body {
  position: relative;
  min-width: 320px;
  width: 100%;
  height: 100%;
}

.gid_nav {
  padding-top: 1rem;
}

.gid_nav--menu>.row{
  margin: 0 1rem 0 1rem;
}

.menu-block {
  position: relative;
  border: 3px solid #2ecc71;
  text-align: center;
  padding: 1rem 0 1rem 0;
  font-size: 1.7em;
  font-weight: 500;
  transition: all .3s ease-in;
  cursor: pointer;
}
.menu-block:nth-child(n+2){
  margin-left: -3px;
}
.menu-block:first-child  {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.menu-block:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.menu-block:hover {
  color:white;
  background-color: #2ecc71;
}
.menu-block:not(:last-child):before{
  content: '';
  position: absolute;
  right: -5rem;
  top: 0;
  opacity: 0;
  border: 2.7rem solid transparent;
  border-left: 2rem solid #2ecc71;
  transition: all .3s ease-in;
}
.menu-block:not(:last-child):hover::before {
  opacity: 1;
}

@media (max-width:768px) {
  .menu-block {
    font-size: 1.2em
  }

.menu-block:not(:last-child):hover::before {
    opacity: 0;
  }
}
@media (max-width: 430px) {
  .menu-block {
    font-size: 1em;
  }
}

@media (max-width: 375px) {
  .menu-block {
    font-size: 1.2rem;
  }
}
/*end top menu*/
.map_menu {
  padding-right: 0px;
}
.wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: .5rem;
  font-size: 0;
}
.map_menu .wrapper div {
  display: inline-block;
  position: relative;
  font-size: 2.4rem;
  font-weight: 500;
  padding: 1rem .5rem 1rem .5rem;
  cursor: pointer;
}
.map_menu--edit {
  border-left: 1px black solid;
  margin-left: -1px;
}

.map_menu--add {
  color: black;
  text-shadow: none;
  padding: 10px 0;
}
.map_menu--add:before {
  color: black;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	content: 'Добавить';
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.map_menu--add:after {
  content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: black;
	opacity: 0;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}
.map_menu--add:hover::before,
.map_menu--add:focus::before {
  opacity: 0;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	transform: translateY(-2px);
}
.map_menu--add:hover::after,
.map_menu--add:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

@media (max-width: 991px) {
  .wrapper {
    margin-left: -1rem;
  }
}

main {
  margin: 2rem;
  background-color: green;
}
